@font-face {
    font-family: 'KimNamyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KimNamyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'KimNamyun';
    text-align: center;
    font-size: large;
    color: rgb(125, 125, 187);
}
.reply {
    border: 1px solid rgb(125, 125, 187);
    border-radius: 5px;
    width: 50%;
    height: 100px;
    margin: 10% auto 30px auto;
    line-height: 100px;
}
img {
    width: 300px;
    height: auto;
}
input {
    margin: 20px auto;
    width: 30%;
    height: 40px;
}
button {
    background-color: rgb(125, 125, 187);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 0;
}
button:hover {
    background-color: rgb(81, 81, 121);
    cursor: pointer;
}
button:active {
    background-color: rgb(176, 176, 226);
}